<a href="https://colab.research.google.com/github/HyeJin17/AnonymousClass/blob/master/AL_0913.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def sequential_search(A, key):
  for i in range(len(A)) :
    if A[i] == key :
      return 1, i
  return -1, -1

list=[1,2,3,4,5,6,7,8,9]
tf, index = sequential_search(list,7)
print(tf,index)

1 6

In [5]:
for j in range(10):
  print(j)

0
1
2
3
4
5
6
7
8
9

In [67]:
import random
r = random.randint(1,100) # 1~100 랜덤 수 하나 뽑기
print(r)
r = random.sample(range(1,20),15) # 1~19 랜덤 수 15개 뽑기 
print(r)

list = [1,2,3,4,5,6,7]
random.shuffle(list)
print(list)

97
[7, 19, 6, 5, 16, 9, 12, 2, 17, 1, 10, 14, 11, 8, 18]
[2, 5, 4, 7, 6, 3, 1]

In [60]:
import random
def unique_element(A):
  n = len(A)
  count = 0
  for i in range(n-1):
    for j in range(i+1,n-2):
      count += 1
      if A[i] == A[j]:
        return False

  print("count", count)
  return True

list = random.sample(range(1,20),15)
print(unique_element(list))

count 78
True

In [71]:
def binary_digits(n):
  count = 1
  while n > 1:
    count = count + 1
    n = n // 2 # 나머지를 버리는 정수 연산
  return count

In [78]:
# 하노이의 탑 문제

def hanoi_tower(n,fr,tmp,to): # fr에서부터 to로 옮기기, tmp는 임시 저장
  if(n==1):
    print("원판1:%s-->%s"%(fr,to))
  else:
    hanoi_tower(n-1,fr,to,tmp)
    print("원판 %d:%s-->%s" %(n,fr,to))
    hanoi_tower(n-1,tmp,fr,to) # n-1을 tmp를 이용해서 fr에서 to로 이동

hanoi_tower(3, 'A', 'B', 'C')

원판1:A-->C
원판 2:A-->B
원판1:C-->B
원판 3:A-->C
원판1:B-->A
원판 2:B-->C
원판1:A-->C